* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

main {
	display: grid;
	place-content: center;
	place-items: center;
	padding: 0 5%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

main div {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.5rem 1rem;
	margin: 0.6rem;
	border-radius: 0.8rem;
	/* border: 1px solid black; */
	box-shadow:  5px 5px 12px #f2f2f2,
						  -5px -5px 12px #f2f2f2,
               5px 5px 12px #ffffff;
}

main div > p {
	font-size: 1.3rem;
}

main div > span {
	font-size: 1.1rem;
	font-style: italic;
}